<div class="container">
  <div class="md-form">
    <i class="fa fa-map-marker prefix grey-text"></i>
    <textarea type="text" id="form-text" class="md-textarea"></textarea>
    <label for="form-text">Travelling To</label>
  </div>
</div>
<div class="container">
  <div class="md-form">
    <i class="fa fa-calendar prefix grey-text"></i>
    <textarea type="text" id="form-text" class="md-textarea"></textarea>
    <label for="form-text">Start Date</label>
  </div>
</div>
<div class="container">
  <div class="md-form">
    <i class="fa fa-calendar prefix grey-text"></i>
    <textarea type="text" id="form-text" class="md-textarea"></textarea>
    <label for="form-text">End date</label>
  </div>
</div>
<div class="container">
  <div class="md-form">
    <i class="fa fa-pencil prefix grey-text"></i>
    <textarea type="text" id="form-text" class="md-textarea"></textarea>
    <label for="form-text">Add a description</label>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-raised btn-success">Start
    <i class="fa fa-send ml-1"></i>
  </button>
</div>
<br>
<div class="text-center">
  <span class="badge red">Share this trip </span>
  <span class="badge badge-default">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </span>
  <span class="badge badge-primary">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </span>
  <span class="badge badge-success">
    <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
  </span>
  <span class="badge badge-success">
    <i class="fa fa-cloud-download" aria-hidden="true" (click)="saveOffline()"></i>
  </span>
</div>
