<div class="text-right">
  <button type="button" class="btn btn-success" routerLink="/newtrip">
    <i>Add a new Trip</i>
  </button>
</div>
<!-- <h2>Memories !!!</h2> -->
<hr>
<div class="row marginZero">
  <b>
    <i>
      <h5>Here are the places you have visited so far !!!</h5>
    </i>
  </b>
</div>

<div class="col-md-5 inlineflex">
  <span class="navbar navbar-dark indigo1" *ngFor="let hero of heroes" style="background-color:brown">
    <a class="navbar-brand" routerLink="/detail/{{hero.id}}" style="color:white">{{hero.name}}</a>
  </span>
</div>
<hr>
<div class="row marginZero">
  <b>
    <i class="colordesc">
      <h5>We have captured your Birthday Memories from your last visit to London!!!</h5>
    </i>
  </b>
</div>
<hr>
<div class="row marginZero">
  <div class="news inlineflex marginauto">
    <!--Label-->
    <div class="label">
      <img src="https://img.thrfun.com/img/025/518/16th_birthday_girls_l1.jpg" class="rounded-circle z-depth-1-half imgWidth">
    </div>
    <div class="label">
      <img src="https://www.familyfriendpoems.com/images/hero/friend-birthday.jpg" class="rounded-circle z-depth-1-half imgWidth">
    </div>
    <div class="label">
      <img src="https://thumb9.shutterstock.com/display_pic_with_logo/818215/489082645/stock-photo-happy-exuberant-group-of-friends-celebrating-a-birthday-party-toasting-the-birthday-girl-laughing-489082645.jpg"
        class="rounded-circle z-depth-1-half imgWidth">
    </div>
  </div>
  <HR>
