<!-- <div *ngIf="hero">
  <h5><i>{{ hero.name | uppercase }}</i></h5>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
	<label>name:
  	<input [(ngModel)]="hero.name" placeholder="name"/>
	</label>
  </div>
  <button (click)="goBack()">go back</button>
</div> -->

<!--Card-->
<div class="text-right">
  <button (click)="goBack()" class="btn btn-info">
    <-- BACK</button>
</div>
<div class="card card-cascade wider reverse my-4 col-md-12" *ngIf="hero">
  <h5>
    <i>{{hero.name | uppercase}}</i>
  </h5>
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <div class="view overlay hm-white-slight z-depth-1-half">
        <img src="https://media.timeout.com/images/104828784/image.jpg" class="img-fluid" alt="">
        <div class="mask"></div>
      </div>

      <!-- <h4 class="my-4 font-weight-bold">Birthday</h4> -->
      <p class="grey-text"></p>

    </div>
    <div class="col-lg-4 col-md-6 mb-4">

      <div class="view overlay hm-white-slight z-depth-1-half">
        <img src="https://media.timeout.com/images/103042848/image.jpg" class="img-fluid" alt="">
        <div class="mask"></div>
      </div>

      <!-- <h4 class="my-4 font-weight-bold">Nature</h4> -->
      <p class="grey-text"></p>

    </div>
    <div class="col-lg-4 col-md-6 mb-4">

      <div class="view overlay hm-white-slight z-depth-1-half">
        <img src="https://www.city.ac.uk/__data/assets/image/0009/328797/building-partnerships.jpg" class="img-fluid" alt="">
        <div class="mask"></div>
      </div>

      <!-- <h4 class="my-4 font-weight-bold">Nature</h4> -->
      <p class="grey-text"></p>

    </div>
    <!--Grid column-->
  </div>
  <div class="row col-md-12 text-center">
    <span class="badge badge-default">
      <i>Destination : </i>
    </span>
    <span class="badge badge-danger">
      <i>{{ hero.name | uppercase }}</i>
    </span>
    <span class="badge badge-default">
      <i>Travel Date : </i>
    </span>
    <span class="badge badge-danger">
      <i>{{hero.startDate}} To {{hero.endDate}}</i>
    </span>
  </div>
  <!--/Card image-->
  <hr>
  <!--Card content-->
  <div class="card-body text-center">
    <h4 class="card-title">
      <strong>{{hero.description}}</strong>
    </h4>

    <div class="md-form">
      <i class="fa fa-pencil prefix"></i>
      <textarea type="text" id="form8" class="md-textarea" [(ngModel)]="hero.description">Edit your description</textarea>
    </div>
    <form>
      <div class="file-field">
        <div>
          <span class="badge red">Add More Photos</span>
          <input type="file">
        </div>
      </div>
    </form>
    <span class="badge red">Share this trip </span>
    <span class="badge badge-default">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </span>
    <span class="badge badge-primary">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </span>
    <span class="badge badge-success">
      <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
    </span>
    <span class="badge badge-success">
      <i class="fa fa-cloud-download" aria-hidden="true" (click)="saveOffline()"></i>
    </span>
    <!--Dribbble-->


  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->
