<header>
  <div class="container">
    <h1 class="logo">
      TRIPS
      <span>Genie</span>
    </h1>
    <section class="social">
      <a class="btn" routerLink="/home">Home</a>
      <a class="btn" routerLink="/timeline">Journey Tracker</a>
      <a class="btn" routerLink="/journey">Trip Journal</a>
      <a class="btn" routerLink="/liveupdates">Journey Wall</a>
      <a class="btn" href="https://www.facebook.com/Emirates/">Abous Us</a>
    </section>
  </div>
</header>
<router-outlet></router-outlet>
