<H3>
  <span class="badge red">DUBAI - LONDON</span>
</H3>
<div class="card">
  <div class="col-lg-12" style="overflow:auto">
    <!--Newsfeed-->
    <div class="mdb-feed">
      <!--First news-->
      <div class="news">
        <!--Label-->
        <div class="label">
          <a style="font-weight: bold;color:blue">John Doe</a>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg" style="border-radius: 50% 50% 50% 50%" class="rounded-circle z-depth-1-half">
        </div>
        <div class="excerpt">

          <!--Brief-->
          <div class="brief">
            <p class="card-text">There are discounts sales going on across Westfield London></p>
            <div class="date">3 hours ago</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news">
        <!--Label-->
        <div class="label">
          <a style="font-weight: bold;color:blue">Anna</a>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" style="border-radius: 50% 50% 50% 50%" class="rounded-circle z-depth-1-half">
        </div>
        <div class="excerpt">
          <!--Brief-->
          <div class="brief">
            <p class="card-text">Winchester,Salisbury!</p>
            <div class="date">2 hours ago</div>
          </div>

          <div class="feed-footer">
            <a class="like">
              <i class="fa fa-heart"></i>
              <span>5 likes</span>
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="news">
        <div class="label">
          <a style="font-weight: bold;color:blue">John Doe</a>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg" style="border-radius: 50% 50% 50% 50%" class="rounded-circle z-depth-1-half">
        </div>
        <!--Excert-->
        <div class="excerpt">
          <div class="brief">
            <p class="card-text">Thank you would like to visit nearby places as well</p>
            <div class="date">1 hours ago</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news">
        <div class="label">
          <a style="font-weight: bold;color:blue">Maria</a>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg" style="border-radius: 50% 50% 50% 50%" class="rounded-circle z-depth-1-half">
        </div>
        <div class="excerpt">
          <div class="brief">
            <p class="card-text">Suggest you to visit the drama theatre</p>
          </div>
        </div>

      </div>
      <hr>
      <div class="news">
        <!--Label-->
        <div class="label">
          <a style="font-weight: bold;color:blue">Crew</a>
          <img src="http://4.bp.blogspot.com/-bg6wZ2dZjAQ/VaZa01OuVhI/AAAAAAAAE4U/RRLdYS4HkCQ/s1600/ek-cc14.jpg" style="border-radius: 50% 50% 50% 50%; width: 60px"
            class="rounded-circle z-depth-1-half">
        </div>
        <!--Excert-->
        <div class="excerpt">
          <div class="brief">
            <p class="card-text">Request to remain seated</p>
            <div class="date">55 min ago</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news">
        <!--Label-->
        <div class="label">
          <a style="font-weight: bold;color:blue">Crew</a>
          <img src="http://4.bp.blogspot.com/-bg6wZ2dZjAQ/VaZa01OuVhI/AAAAAAAAE4U/RRLdYS4HkCQ/s1600/ek-cc14.jpg" style="border-radius: 50% 50% 50% 50%; width: 60px"
            class="rounded-circle z-depth-1-half">
        </div>
        <!--Excert-->
        <div class="excerpt">
          <div class="brief">
            <p class="card-text">Welcome to Emirates EK002,you can share
              <br>messages,photos with your co passengers</p>
          </div>
          <div class="feed-footer">
            <a class="like">
              <i class="fa fa-heart"></i>
              <span>5 likes</span>
            </a>
          </div>
          <div>
            <form class="form-inline" role="form">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Your comments" />
              </div>
              <div class="form-group">
                <button class="btn btn-sm btn-default">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Grid row-->
