<div class="container">
  <h1 class="project-name">YOUR JOURNEY TIMELINE</h1>
  <div id="timeline">
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="27px" height="26px">
          <g>
            <path d="M34.4,26.3c0.041,0.031,0.088,0.045,0.131,0.069c0.035,0.019,0.067,0.039,0.103,0.054c0.118,0.047,0.241,0.078,0.365,0.078   c0,0,0,0,0.001,0l0.001,0c0.136,0,0.268-0.036,0.396-0.092c0.039-0.017,0.072-0.042,0.109-0.064c0.05-0.03,0.104-0.049,0.149-0.088   L44,19.023V24.5c0,0.552,0.448,1,1,1s1-0.448,1-1v-7.21l4.655-4.034c0.417-0.362,0.462-0.994,0.101-1.411   c-0.362-0.417-0.993-0.463-1.411-0.101l-4.336,3.758c-0.003,0-0.006-0.002-0.009-0.002h-9c-0.552,0-1,0.448-1,1s0.448,1,1,1h6.704   l-7.749,6.716L31.6,21.7c-0.443-0.332-1.069-0.241-1.4,0.2c-0.332,0.442-0.242,1.069,0.2,1.4L34.4,26.3z"
              fill="#FFFFFF" />
            <path d="M9,18.5h1.09c0.154,0.909,0.51,1.749,1.025,2.471l-0.772,0.772c-0.391,0.391-0.391,1.023,0,1.414   c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l0.772-0.772C13.251,22.9,14.091,23.256,15,23.41v1.09   c0,0.552,0.448,1,1,1s1-0.448,1-1v-1.09c0.909-0.154,1.749-0.51,2.471-1.025l0.772,0.772c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414l-0.772-0.772c0.515-0.722,0.871-1.562,1.025-2.471H23   c0.552,0,1-0.448,1-1s-0.448-1-1-1h-1.09c-0.154-0.909-0.51-1.749-1.025-2.471l0.772-0.772c0.391-0.391,0.391-1.023,0-1.414   s-1.023-0.391-1.414,0l-0.772,0.772C18.749,12.1,17.909,11.744,17,11.59V10.5c0-0.552-0.448-1-1-1s-1,0.448-1,1v1.09   c-0.909,0.154-1.749,0.51-2.471,1.025l-0.772-0.772c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l0.772,0.772   c-0.515,0.722-0.871,1.562-1.025,2.471H9c-0.552,0-1,0.448-1,1S8.448,18.5,9,18.5z"
              fill="#FFFFFF" />
            <path d="M20,27.5c0-0.552-0.448-1-1-1h-9c-0.552,0-1,0.448-1,1s0.448,1,1,1h9C19.552,28.5,20,28.052,20,27.5z" fill="#FFFFFF"
            />
            <path d="M22,29.5h-8c-0.552,0-1,0.448-1,1s0.448,1,1,1h8c0.552,0,1-0.448,1-1S22.552,29.5,22,29.5z" fill="#FFFFFF" />
            <path d="M49,28.5h-2c-0.552,0-1,0.448-1,1s0.448,1,1,1h2c0.552,0,1-0.448,1-1S49.552,28.5,49,28.5z" fill="#FFFFFF" />
            <path d="M31,30.5h3c0.552,0,1-0.448,1-1s-0.448-1-1-1h-3c-0.552,0-1,0.448-1,1S30.448,30.5,31,30.5z" fill="#FFFFFF" />
            <path d="M42,28.5h-3c-0.552,0-1,0.448-1,1s0.448,1,1,1h3c0.552,0,1-0.448,1-1S42.552,28.5,42,28.5z" fill="#FFFFFF" />
            <path d="M0,43.001c0,2.48,2.018,4.499,4.499,4.499h17.855c0.142,1.752-0.618,3.481-2.023,4.472l-1.799,1.269   c-0.115,0.08-0.212,0.177-0.291,0.285C16.985,53.658,16,54.71,16,56c0,1.378,1.122,2.5,2.5,2.5h23c1.378,0,2.5-1.122,2.5-2.5   c0-1.289-0.985-2.341-2.239-2.474c-0.078-0.106-0.173-0.202-0.286-0.281l-1.804-1.271c-1.408-0.992-2.169-2.724-2.025-4.474h17.855   c2.48,0,4.499-2.018,4.499-4.499V38.5H0V43.001z M35.642,47.5c-0.134,2.33,0.882,4.619,2.728,6H21.63   c1.847-1.381,2.863-3.67,2.729-6H35.642z"
              fill="#FFFFFF" />
            <path d="M55.501,1.5H4.499C2.018,1.5,0,3.518,0,5.999V36.5h60V5.999C60,3.518,57.982,1.5,55.501,1.5z M25,34.5H5v-28h20V34.5z    M55,34.5H27v-28h28V34.5z"
              fill="#FFFFFF" />
          </g>
        </svg>
      </div>
      <div class="timeline-content">
        <h2>Booking Details</h2>

        <table>
          <tr>
            <th style="text-align: left">PNR</th>
            <td>{{record.pnr}}</td>
          </tr>
          <tr>
            <th style="text-align: left">Origin</th>
            <td>{{record.origin}}</td>
          </tr>
          <tr>
            <th style="text-align: left">Destination</th>
            <td>{{record.destination}}</td>
          </tr>
          <tr>
            <th style="text-align: left">Flight Number</th>
            <td>{{record.flightNumber}}</td>
          </tr>
          <tr>
            <th style="text-align: left">Flight Date</th>
            <td>{{record.flightDate}}</td>
          </tr>
        </table>

        <table>
          <tr *ngFor="let pax of record.pax">
            <td style="text-align: left">{{pax}}</td>
          </tr>
        </table>
        <a href="https://www.emirates.com/ae/english/manage-booking/" class="btn">View Booking</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          width="27px" height="26px" viewBox="0 0 45.828 45.828" style="enable-background:new 0 0 45.828 45.828;" xml:space="preserve">
          <g>
            <path d="M27.299,35.748h-2.11v-0.906c0-1.02-0.774-1.805-1.794-1.805h-2.995c-1.019,0-1.901,0.785-1.901,1.805v0.906h-2.003    c-1.063,0-1.979,0.816-1.979,1.881v6.21c0,1.063,0.915,1.989,1.979,1.989h10.803c1.064,0,1.871-0.926,1.871-1.989v-6.21    C29.17,36.564,28.362,35.748,27.299,35.748z M23.918,35.748h-4.15v-0.906c0-0.318,0.315-0.533,0.632-0.533h2.995    c0.316,0,0.523,0.215,0.523,0.533V35.748z"
              fill="#FFFFFF" />
            <path d="M30.532,28.859c-0.021,0.211,0.048,0.403,0.188,0.562c0.142,0.158,0.345,0.229,0.558,0.229h0.263v13.951    c0,1.192,0.967,2.159,2.16,2.159c1.191,0,2.158-0.967,2.158-2.159V29.65h1.018v13.95c0,1.193,0.967,2.16,2.16,2.16    c1.191,0,2.158-0.967,2.158-2.16V29.65h0.243c0.216,0,0.421-0.072,0.565-0.232c0.146-0.16,0.215-0.365,0.192-0.58l-0.282-4.48    c1.571-0.298,2.631-1.782,2.402-3.366l-1.175-8.154c-0.261-1.816-1.813-3.175-3.647-3.175h-6.351    c-1.851,0-3.412,1.382-3.654,3.216l-1.226,9.327l-24.63,0.005c-1.189,0-2.153,0.965-2.153,2.154c0,1.188,0.964,2.153,2.153,2.153    l27.146-0.004L30.532,28.859z"
              fill="#FFFFFF" />
            <circle cx="36.365" cy="3.958" r="3.958" fill="#FFFFFF" />
            <path d="M10.13,12.372c-1.861,0-3.431,1.384-3.658,3.231l-0.649,5.238h15.172l-0.683-5.259c-0.239-1.837-1.803-3.21-3.656-3.21    H10.13z"
              fill="#FFFFFF" />
            <circle cx="13.403" cy="7.008" r="3.958" fill="#FFFFFF" />
          </g>
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>Check in</h2>
        <h3>Planned : {{record.plannedCheckin}}</h3>
        <h3>Actual : {{record.actualCheckin}}</h3>
        <table *ngIf="record.actualCheckin != 'Yet to be updated'">
          <tr>
            <th style="text-align: left">Baggage Details</th>
            <td *ngFor="let tag of record.baggage.tags" style="text-align: left">{{tag}}</td>
          </tr>
          <tr>
            <th style="text-align: left">Total Weight</th>
            <td>{{record.baggage.weight}} Kgs</td>
          </tr>
        </table>
        <p *ngIf="record.actualCheckin=='Yet to be updated'">
          You can check in online by clicking the below button. If you wish to check in at the airport, the gates closes 45 minutes
          before departure.
        </p>
        <p>

        </p>
        <a *ngIf="record.actualCheckin=='Yet to be updated'" href="https://www.emirates.com/ae/english/manage-booking/online-check-in.aspx"
          class="btn">Check in</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="27px" height="26px">
          <g>
            <g>
              <rect x="361" y="482" width="30" height="30" fill="#FFFFFF" />
            </g>
          </g>
          <g>
            <g>
              <rect y="482" width="30" height="30" fill="#FFFFFF" />
            </g>
          </g>
          <g>
            <g>
              <polygon points="331,222 331,392 60,392 60,222 0,222 0,452 391,452 391,222   " fill="#FFFFFF" />
            </g>
          </g>
          <g>
            <g>
              <path d="M271,292H120c-16.542,0-30,13.458-30,30v40h211v-40C301,305.458,287.542,292,271,292z" fill="#FFFFFF" />
            </g>
          </g>
          <g>
            <g>
              <path d="M90,132v138.072c8.833-5.123,19.075-8.072,30-8.072h151c10.925,0,21.167,2.949,30,8.072V132H90z" fill="#FFFFFF" />
            </g>
          </g>
          <g>
            <g>
              <rect x="421" y="192" width="30" height="320" fill="#FFFFFF" />
            </g>
          </g>
          <g>
            <g>
              <polygon points="499.756,0 372.244,0 360,162 512,162   " fill="#FFFFFF" />
            </g>
          </g>
        </svg>

      </div>
      <div class="timeline-content">
        <h2>Lounge</h2>
        <p>
          You have complemtary lounge access. Please be at the baording gate in time.
        </p>

      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          width="27px" height="26px" viewBox="0 0 546.975 546.975" style="enable-background:new 0 0 546.975 546.975;" xml:space="preserve">
          <g>
            <g id="Layer_1_154_">
              <g>
                <path d="M488.324,7.013H270.3c-31.875,0-57.375,25.5-57.375,57.375v137.7c0,2.55,0,3.825,0,6.375v79.05l35.7-12.75V64.388     c0-11.475,10.2-21.675,21.675-21.675H489.6c11.475,0,21.676,10.2,21.676,21.675v418.199c0,11.477-10.201,21.676-21.676,21.676     H271.575c-11.475,0-21.675-10.199-21.675-21.676v-24.225l-35.7,12.75v11.475c0,31.875,25.5,57.375,57.375,57.375H489.6     c31.875,0,57.375-25.5,57.375-57.375V64.388C545.699,32.513,520.199,7.013,488.324,7.013z"
                  fill="#FFFFFF" />
                <path d="M381.225,80.963h-76.5c-7.65,0-15.299,6.375-15.299,15.3v100.725c0,7.65,6.375,15.3,15.299,15.3h76.5     c7.65,0,15.301-6.375,15.301-15.3V96.263C396.525,87.338,388.875,80.963,381.225,80.963z"
                  fill="#FFFFFF" />
                <path d="M474.301,267.113H325.125c17.85,6.375,34.426,19.125,44.625,35.701h104.551c10.199,0,17.85-7.65,17.85-17.852     C492.15,274.763,484.5,267.113,474.301,267.113z"
                  fill="#FFFFFF" />
                <path d="M474.301,338.513H382.5c1.275,11.475,0,24.225-3.824,35.699h95.625c10.199,0,17.85-7.648,17.85-17.85     C492.15,347.438,484.5,338.513,474.301,338.513z"
                  fill="#FFFFFF" />
                <path d="M474.301,409.913H357c-8.926,8.924-19.125,15.299-30.6,19.125l-43.35,15.299h1.273h189.977     c10.199,0,17.85-7.648,17.85-17.85C492.15,416.288,484.5,409.913,474.301,409.913z"
                  fill="#FFFFFF" />
                <path d="M342.975,369.112c5.1-12.75,6.375-26.775,1.275-39.525c-7.65-19.125-26.775-31.875-47.176-31.875     c-6.375,0-11.475,1.275-17.85,2.551L178.5,337.237V208.463c0-8.925-5.1-17.85-14.025-22.95c-3.825-2.55-7.65-2.55-11.475-2.55     c-5.1,0-10.2,1.275-14.025,3.825L28.05,262.013C10.2,273.487,0,293.888,0,314.288v114.75c0,30.6,22.95,57.375,53.55,62.475     l52.275,8.926c3.825,0,7.65,1.273,11.475,1.273c25.5,0,49.725-16.574,59.925-40.799l6.375-17.85l131.326-48.451     C326.4,392.063,337.875,381.862,342.975,369.112z"
                  fill="#FFFFFF" />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>Boarding</h2>
        <h3>Planned : {{record.plannedBoarding}}</h3>
        <h3>Actual : {{record.actualBoarding}}</h3>
        <p>
          The baording gates closes 25 minutes before departure. Kindly be at the gate on time.
        </p>

      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 612.001 612.001" style="enable-background:new 0 0 612.001 612.001;" xml:space="preserve" width="27px"
          height="26px">
          <g>
            <g>
              <path d="M374.778,173.493l-118.823-6.317c-1.379-0.074-2.767,0.236-3.987,0.894l-65.454,35.305    c-1.988,1.073-3.394,2.982-3.826,5.2c-0.433,2.219,0.152,4.516,1.591,6.257l33.672,40.733c0.327-0.247,0.661-0.486,1.036-0.683    L374.778,173.493z"
                fill="#FFFFFF" />
              <path d="M609.246,131.32c-0.059-0.126-0.12-0.251-0.188-0.373c-4.695-8.796-15.308-19.28-39.184-19.28    c-25.109,0-52.433,11.402-53.584,11.888c-66.229,26.386-377.957,190.42-377.957,190.42l-74.648-40.22    c-2.208-1.189-4.857-1.206-7.076-0.047L4.055,301.156c-2.217,1.156-3.716,3.337-4.005,5.821c-0.286,2.484,0.67,4.949,2.562,6.585    l128.431,111.028c2.347,2.024,5.688,2.416,8.432,0.981l125.416-65.436l18.977,133.711c0.346,2.444,1.865,4.564,4.067,5.676    c1.072,0.542,2.241,0.813,3.409,0.813c1.23,0,2.461-0.301,3.576-0.9c13.331-7.169,21.652-11.707,29.697-16.098    c8.197-4.473,16.674-9.099,30.389-16.467c1.468-0.787,2.631-2.038,3.314-3.555l89.258-198.554l91.751-47.902    C582.228,195.076,623.122,161.163,609.246,131.32z"
                fill="#FFFFFF" />
            </g>
          </g>
        </svg>
      </div>
      <div class="timeline-content">
        <h2>Departure</h2>
        <h3>Planned : {{record.plannedDeparture}}</h3>
        <h3>Actual : {{record.actualDeparture}}</h3>
        <p>

        </p>
        <a href="https://flightaware.com/live/flight/{{record.flightNumber}}" class="btn">Track Flight Status</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve" width="27px" height="26px">
          <g>
            <path d="M612,565.748c0,8.643-7.006,15.646-15.646,15.646H15.646C7.006,581.394,0,574.391,0,565.748s7.006-15.646,15.646-15.646   h580.708C604.994,550.102,612,557.105,612,565.748z M580.004,283.491l-132.403-51.745l-0.013-0.016l-157.427-61.523l0.003,0.013   l-161.248-63.016l-14.282-40.395c-5.698-16.106-18.09-28.911-33.999-35.132c-4.688-1.831-9.973-1.295-14.197,1.439   s-6.878,7.338-7.125,12.363l-4.362,88.431l-39.594,24.689c-5.022,3.132-7.848,8.831-7.3,14.723   c0.548,5.892,4.371,10.974,9.885,13.127l20.199,7.892c2.525,0.983,5.257,1.295,7.939,0.911l51.813-7.504l159.323,62.265   L155.146,369.097c-3.298,3.846-4.528,9.059-3.301,13.975c1.227,4.916,4.763,8.934,9.485,10.78l44.885,17.539   c1.834,0.717,3.764,1.073,5.695,1.073c2.3,0,4.597-0.507,6.718-1.514l203.16-96.617l127.675,49.895   c5.038,1.968,10.323,2.966,15.702,2.966c18.885,0,35.423-12.113,41.152-30.137C613.186,315.472,601.627,291.94,580.004,283.491z    M286.018,151.792l144.025,56.285L339.85,86.486c-1.752-2.363-4.131-4.181-6.869-5.254l-41.468-16.209   c-5.401-2.112-11.503-1.064-15.893,2.704c-4.39,3.771-6.34,9.657-5.069,15.305L286.018,151.792z M164.9,223.426   c-8.64,0-15.646,7.003-15.646,15.646v0.973c0,8.643,7.006,15.646,15.646,15.646c8.64,0,15.646-7.003,15.646-15.646v-0.973   C180.546,230.429,173.539,223.426,164.9,223.426z M212.097,244.88c-8.64,0-15.646,7.003-15.646,15.646v0.973   c0,8.643,7.006,15.646,15.646,15.646c8.64,0,15.646-7.003,15.646-15.646v-0.973C227.743,251.883,220.74,244.88,212.097,244.88z    M459.567,338.756c-8.64,0-15.646,7.003-15.646,15.646v0.973c0,8.643,7.006,15.646,15.646,15.646s15.646-7.003,15.646-15.646   v-0.973C475.213,345.759,468.207,338.756,459.567,338.756z"
              fill="#FFFFFF" />
          </g>
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>Arrival</h2>
        <h3>Planned : {{record.plannedArrival}}</h3>
        <h3>Actual : {{record.actualArrival}}</h3>
        <p>

        </p>
        <a href="https://flightaware.com/live/flight/{{record.flightNumber}}" class="btn">Track Flight Status</a>
      </div>
    </div>
  </div>
</div>
