html,
body,
header,
#intro {
    /*height: 100%;*/
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-radius: .3rem .3rem 0 0;
}
compiled.min.css?ver=4.4.0:1
.indigo.lighten-1 {
    background-color: #5c6bc0!important;
}
compiled.min.css?ver=4.4.0:1
.indigo {
    background-color: #3f51b5!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057 !important;
    background-color: white !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

#navbar{
    background-color: black;
    color: WHITE;
}

.indigo1{
    background-color: brown;
    margin-top: 10px;
}